<div class="main">
    <div class="task-input">
        <h3 class="card-text title-input">New task</h3>
        <%= render "form" %>
    </div>
    <div class="tasks">
        <%= render @tasks %>
    </div>
</div>