/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {
    --font-sec: 'Playfair Display', serif;
    --font-main: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --color-grey: #e5e5e5;
    --color-grey-bold: #3C4043;
    --color-light: #F5F5F5;
    --color-background: #202124;
    --color-success: rgb(44, 206, 52);
    --color-danger: rgb(235, 30, 30);
}
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body, 
html {
    font-family: var(--font-main);
    background-color: var(--color-background);
    height: 100%;
}

.footer {
    background-color: var(--color-grey-bold);
    display: flex;
    justify-content: space-between;
    color: var(--color-light);
    padding: 3.75rem 0;
}

.footer .brand {
    font-family: var(--bs-font-playfair);
    font-size: 1.5rem;
    margin-left: 2rem;
}

.footer .social-media {
    margin-right: 2rem;
    font-size: .8em;
    text-align: left;
}

.footer .social-media li {
    line-height: 1.1rem;
}

.footer .social-media .icon {
    font-size: 1.4em;
}

.footer .social-media a{
    color: var(--color-text-grey-bold);
    text-decoration: none;
}